<div class="row">
    <div class="col text-left">
     <button routerLink="/pedidos" class="btn btn-primary">
       Pedidos
      </button>
    </div>
</div>
<div class="row">
  <div class="col text-left">
    <button routerLink="/carnes" class="btn btn-primary">
      Carnes
    </button>
  </div>
</div>
<div class="row">
  <div class="col text-left">
    <button routerLink="/verduras" class="btn btn-primary">
      Verdura
    </button>
  </div>
</div>
<div class="row">
  <div class="col text-left">
    <button routerLink="/pescados" class="btn btn-primary">
     Pescado
    </button> 
</div>
  
